.holder{
    background-color: var(--mainOrange);
    padding-top: 85px;
    padding-bottom: 50px;
}

.content{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
