.holder{
    padding-top: 45px;
    padding-bottom: 50px;
}

.content{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 4px -1px gray; */
}

.acct_header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
    font-size: 27px;
}

.bs_apb_logo {
    cursor: pointer;
}

.bs_apb{
    background-color: var(--mainOrange) !important;
}

.orderNo,
.orderDetH,
.orderDetProd{
    font-family: 'Lato', sans-serif;
}

.orderDetH,
.orderDetProd {
    text-align: center;
    margin-bottom: 10px;
}

.orderDetBx h5{
    font-family: 'DM Sans', sans-serif;
    color: grey;
}

.orderDetBx p{
    font-family: 'Nato Sans', sans-serif;
}

.pd_cd_img_bx {
    height: 9rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgb(209, 209, 209);
}

.pd_cd_name{
    font-family: 'DM Sans', sans-serif;
}