.main{
    background: linear-gradient(rgba(255, 177, 61, 0.808), rgb(255, 177, 61)),
    url(../asserts/shop_shirts.jpg) center;
    background-size: cover;
}

.lg_bx{
    height: 93.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg_frm{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: var(--lightOrange);
    padding: 2.3rem 1.5rem;
    border-radius: 10px
}

.lg_frm_erm,
.lg_frm_scm{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}

.lg_frm_erm{
    color: red;
}

.lg_frm_scm{
    color: rgb(85, 141, 1);
}

.lg_frm h3{
    font-family: 'DM sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.lg_frm input{
    border: none;
    box-shadow: 0 0 2px -2px gray;
    padding: 10px 15px;
    margin-top: 10px;
    min-width: 250px;
    border-radius: 7px;
    font-family: 'Noto sans', sans-serif;
    font-size: 15px;
    transition: .4s;
}

.lg_frm input:focus{
    outline: none;
    box-shadow: 0 0 7px -1px rgb(158, 158, 158);
}

.lg_frm button{
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    margin: 1.2rem auto 0;
    background-color: var(--mainOrange);
    color: white;
    font-weight: bold;
    height: 2.25rem;
    width: 100%;
    cursor: pointer;
    transition: .5s;
    font-family: 'Open sans', sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.lg_frm button:hover{
    background-color: rgb(10, 10, 10);
}

.lg_fgp_sg{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
}

.lg_fgp_sg a{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 4px;
    transition: .5s;
    border-radius: 5px;
}

.lg_fgp_sg a:hover{
    text-decoration: underline;
}