.bs_ft{
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding: 15px 5px;
}

.bs_ft p{
    color: rgb(236, 236, 236);
    font-family: 'Open sans', sans-serif;
    margin-right: 10px;
    font-size: 0.8rem;
}

.bs_ft p span{
    color: var(--mainOrange);
    font-family: 'Noto Sans', sans-serif !important;
    align-self: center;
}