.cob_btn {
    margin: 5px auto 0 !important;
    width: 80%;
    background-color: var(--mainOrange) !important;
    color: rgb(10, 10, 10) !important;
    font-weight: bold;
    font-size: .99rem !important;
}

.cob_btn:hover {
    background-color: rgb(10, 10, 10) !important;
    color: var(--mainOrange) !important;
}