@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato&family=Noto+Sans&family=Open+Sans&display=swap');

:root{
  --mainOrange : #FFB243;
  --lightOrange : #FEDC71;
  --redShade : #eb3044;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
