.container{
  background-color: whitesmoke;
}

.bs_bn_ctn {
  background: linear-gradient(rgba(255, 177, 61, 0.808), rgb(255, 177, 61)),
  url(../public/shop_shirts.jpg) center;
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 54%, 50% 100%, 0 54%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 54%, 50% 100%, 0 54%, 0 0);
  display: grid;
  place-content: center;
  padding: 12rem 3rem 14rem;
  margin-top: -78px;
  position: relative;
  box-shadow: 0 0 2px 1px gray;
}

.bs_bn_in{
  text-align: center;
}

.bs_bn_in h3{
  font-family: 'DM Sans', sans-serif;
  font-size: 2.8rem;
}

.bs_bn_in h3 span{
  color: white;
  padding: 5px;
  position: relative;
}

.bs_bn_in h3 span::before {
  width: 100%;
  height: 95%;
  background-color: var(--redShade);
  display: inherit;
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

.bs_bn_in p{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

