*{
    margin: 0;
    padding: 0;
}

main{
    padding: 0 10px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a0a0a033;
}

/* verify email styles */
.verify_notice,
.change_password{
    margin-top: 6rem;
    width: 25rem;
    box-shadow: 0 2px 10px #8080805e;
    border-radius: 7px;
    padding: 4%;
    text-align: center;
    background-color: white;
}

.verify_notice h3,
.change_password h4{
    font-family: 'Segoe UI', sans-serif;
    color: rgb(52, 92, 202);
    text-align: center;
    margin: 5px 0px 10px;
    font-size: 30px;
}

.verify_notice .check {
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 80px;
    font-weight: bold;
    border: 5px solid #2ee72e;
    border-radius: 50%;
    color: #2ee72e;
    margin: 15px auto;
}

.verify_notice .check span{
    position: absolute;
    top: -9px;
    left: 20px;
}

.verify_notice a button,
.change_password form button {
    padding: 8px 37px;
    margin: 10px 0 5px;
    font-size: 20px;
    border: 1px solid rgb(52, 92, 202);
    background: rgb(52, 92, 202);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.verify_notice a button:hover,
.change_password form button:hover{
    background-color: white;
    color: rgb(52, 92, 202);
}

._error{
    margin-top: 8rem;
    width: 25rem;
    box-shadow: 0 2px 10px #8080805e;
    border-radius: 7px;
    padding: 4%;
    text-align: center;
    background-color: white;
}

._error .error_mgs {
   font-size: 20px;
   color: red;
   font-weight: bold;
   font-family: sans-serif;
   margin: 20px 0;
}


/* change password page */
/* .change_password {
    width: 25rem;
    box-shadow: 0 2px 10px #8080805e;
    border-radius: 7px;
    padding: 10px 15px;
    margin: -20px 5% 20px;
    text-align: center;
} */

.change_password form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.change_password form input {
    padding: 15px;
    border: 2px solid rgba(52, 92, 202, 0.603);
    margin: 0 0 10px;
    border-radius: 7px;
    transition: .5s;
    font-size: 19px;
}

.change_password form input:focus{
    border: 2px solid rgba(52, 92, 202, 0.911);
    outline: none;
}

.change_password form input::placeholder{
    font-size: 19px;
}

@media (max-width: 450px) {
    .verify_notice,
    .change_password,
    ._error {
        width: 90%;
    }

    .change_password form .btns button {
        width: 100%;
    }

}