
*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(52, 92, 202);
    padding: 20px 13px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo{
    font-weight: bold;
    font-size: 2.7rem;
    font-family: 'Ubuntu', sans-serif;
}

.header .hashtag{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}

.content{
    padding:  0 10px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a0a0a033;
    overflow-y: auto;
}

.choice_bx {
    margin-top: 6rem;
    margin-bottom: 2rem;
    width: 25rem;
    box-shadow: 0 2px 10px #8080805e;
    border-radius: 7px;
    padding: 4%;
    text-align: center;
    background-color: white;
}

.choice_bx h4{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1.5rem;
    font-size: 25px;
}

.choice_bx .choice_wp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.choice{
    padding: 3%;
    box-shadow: 0 2px 5px #8080805e;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: .4s;
}

.choice:hover{
    background-color: var(--mC-blue);
}

.choice:hover p{
    color: white;
}

.choice img{
    width: 110px;
    height: 50px;
    object-fit: scale-down;
}

.choice p{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 6px;
    font-weight: bold;
}

/* .theta-to-theta,
.cardPayment{
    display: none;
    transition: .4s;
} */

.theta-to-theta form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.theta-to-theta form input {
    padding: 15px;
    border: 2px solid rgba(52, 92, 202, 0.603);
    margin: 0 0 10px;
    border-radius: 7px;
    transition: .5s;
    font-size: 19px;
}

.theta-to-theta form .btns,
.cardPayment form .btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theta-to-theta form .btns button,
.cardPayment form .btns button{
    padding: 8px 37px;
    margin: 5px 2px 5px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

form .field-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 15px;
}

form .field-container input{
    text-align: center;
}

form .field-container:nth-child(3),
form .field-container:nth-child(4) {
    display: flex;
    align-items: center;
    flex-direction: row;
}
form .field-container:nth-child(4){
    justify-content: space-between;
}

form .field-container:nth-child(4) input{
    width: 80%;
    text-align: center;
}

form .field-container.flexdt label {
    width: 100%;
}

form .field-container.flexdt input {
    width: 40px;
    margin-left: 10px;
}

form .field-container label{
    text-align: left;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

form .field-container input{
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

form input:focus {
    border: 2px solid rgba(52, 92, 202, 0.911);
    outline: none;
}

form input::placeholder {
    font-size: 19px;
}


form .btns button:first-child{
    border: 1px solid rgb(52, 92, 202);
    background: rgb(52, 92, 202);
    color: white;
}

form .btns button:first-child:hover {
    background-color: white;
    color: rgb(52, 92, 202);
}

form .btns button:nth-child(2){
    border: 1px solid rgb(235, 52, 52);
    background: rgb(235, 52, 52);
    color: white;
}

form .btns button:nth-child(2):hover {
    color: rgba(235, 52, 52);
    background: white;
}



._error {
    width: 25rem;
    box-shadow: 0 2px 10px #8080805e;
    border-radius: 7px;
    padding: 10px;
    margin: 8rem 0 0 0;
    text-align: center;
    background-color: white;
}

._error .error_mgs {
    font-size: 20px;
    color: rgb(235, 52, 52);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
}

.error_mgs a {
    text-decoration: none;
    color: rgb(52, 92, 202);
}

@media (max-width: 450px){
    .choice_bx,
    ._error{
        width: 90%;
    }

    .theta-to-theta form .btns button {
        width: 100%;
    }

}