body{
    background-color: var(--mC-bg) !important;
}

body::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(10, 10, 10);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--mC-gcb);
}

.content{
    margin-top: 100px;
    margin-bottom: 50px;
}

.content .heading{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.summary .card{
    margin-bottom: 10px;
}

.summary .card h5{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.summary .card p{
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 20px;
}

.txn_tb{
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%),
    0 4px 6px -2px rgb(0 0 0 / 5%);
}

.txn_tb .table-responsive {
    max-height: 400px;
}

.txn_tb .table-responsive::-webkit-scrollbar{
    width: 3px;
}

.table-responsive::-webkit-scrollbar-thumb{
    background-color: rgb(151, 151, 151);
}

.txn_tb h5{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}


/* top up tyles */
._tp_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
    
}

._tp_holder ._tp_fm_bx{
    max-width: 25rem;
    background-color: white;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%),
    0 4px 6px -2px rgb(0 0 0 / 5%);
}

._tp_fm_bx h3 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

._tp_fm_bx form input {
    margin: 15px 0;
    text-align: center !important;
}

._tp_fm_bx form .input-group input{
    margin: 0;
}

._tp_fm_bx form button.tpbtn {
    background-color: var(--mC-gcb);
    color: rgba(10, 10, 10);
    width: 100%;
}