main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)),
    url(https://www.gcbbank.com.gh/images/news/2018/GCB-GOLDEN-EAGLE-AMBASSADORS-.JPG);
    background-position: center;
    background-size: cover;
}

.fm_bx{
    max-width: 25rem;
    background-color: white;
    padding: 3%;
    border-radius: 5px;
}

.fm_bx h3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.fm_bx form input{
    margin: 15px 0;
}

button.loginbtn{
    background-color: var(--mC-gcb);
    color: rgba(10, 10, 10);
    width: 100%;
}

.fm_bx .othbtns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}

.fm_bx .othbtns a{
    color: rgba(10, 10, 10);
}
