.bs_apb_logo{
    cursor: pointer;
}

.bs_apb_tb {
    padding: 15px 54px;
}

.bs_apb_btn{
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.bs_apb_btn button{
    color: white;
}

.bs_apb_btn:first-child{
    border-right: 1px solid white !important;
}